In [63]:
import pandas as pd

In [64]:
df_1213=pd.read_csv('./98windsorizing/98% 이상치제거_original_1213.csv',index_col=0)[['업종명','종목명','Diff_E','Diff_S','Diff_G','등락률','연도']]
df_1314=pd.read_csv('./98windsorizing/98% 이상치제거_original_1314.csv',index_col=0)[['업종명','종목명','Diff_E','Diff_S','Diff_G','등락률','연도']]
df_1415=pd.read_csv('./98windsorizing/98% 이상치제거_original_1415.csv',index_col=0)[['업종명','종목명','Diff_E','Diff_S','Diff_G','등락률','연도']]
df_1516=pd.read_csv('./98windsorizing/98% 이상치제거_original_1516.csv',index_col=0)[['업종명','종목명','Diff_E','Diff_S','Diff_G','등락률','연도']]
df_1617=pd.read_csv('./98windsorizing/98% 이상치제거_original_1617.csv',index_col=0)[['업종명','종목명','Diff_E','Diff_S','Diff_G','등락률','연도']]
df_1718=pd.read_csv('./98windsorizing/98% 이상치제거_original_1718.csv',index_col=0)[['업종명','종목명','Diff_E','Diff_S','Diff_G','등락률','연도']]

In [65]:
list=['건설업', '금융 및 보험업', '서비스업', '운수 및 창고업', '에너지', '정보통신업', '제조업', '1차 산업', '의약품']

## 건설업 
- 93개

In [66]:
list1=df_1213[df_1213.loc[:,'업종명']=='건설업']
list2=df_1314[df_1314.loc[:,'업종명']=='건설업']
list3=df_1415[df_1415.loc[:,'업종명']=='건설업']
list4=df_1516[df_1516.loc[:,'업종명']=='건설업']
list5=df_1617[df_1617.loc[:,'업종명']=='건설업']
list6=df_1718[df_1718.loc[:,'업종명']=='건설업']
Structure=pd.concat([list1,list2,list3,list4,list5,list6],axis=0)
Structure.shape

(93, 7)

## 금융및 보험업
- 350개

In [67]:
list1=df_1213[df_1213.loc[:,'업종명']=='금융 및 보험업']
list2=df_1314[df_1314.loc[:,'업종명']=='금융 및 보험업']
list3=df_1415[df_1415.loc[:,'업종명']=='금융 및 보험업']
list4=df_1516[df_1516.loc[:,'업종명']=='금융 및 보험업']
list5=df_1617[df_1617.loc[:,'업종명']=='금융 및 보험업']
list6=df_1718[df_1718.loc[:,'업종명']=='금융 및 보험업']
Bank=pd.concat([list1,list2,list3,list4,list5,list6],axis=0)
Bank

         업종명      종목명  Diff_E  Diff_S  Diff_G       등락률      연도
19  금융 및 보험업    AK홀딩스     0.0     0.0    -1.5  0.796421  12,13년
20  금융 및 보험업       CJ     0.0     2.5     0.0  0.042254  12,13년
21  금융 및 보험업    CS홀딩스     0.0     0.0     NaN  0.049226  12,13년
22  금융 및 보험업  DGB금융지주     0.0     0.0     0.0  0.231884  12,13년
23  금융 및 보험업       GS     0.0     0.0     0.0 -0.147230  12,13년
..       ...      ...     ...     ...     ...       ...     ...
86  금융 및 보험업   한화손해보험     NaN     1.5     0.0 -0.273284  17,18년
87  금융 및 보험업   한화투자증권     NaN    -1.5     0.0 -0.294118  17,18년
88  금융 및 보험업     현대해상     0.0     1.0     1.0 -0.078280  17,18년
89  금융 및 보험업       효성     NaN    -1.0     0.0 -0.618587  17,18년
90  금융 및 보험업     흥국화재     NaN     0.0     0.0 -0.219256  17,18년

[350 rows x 7 columns]

## 제조업
- 1626개

In [68]:
list1=df_1213[df_1213.loc[:,'업종명']=='제조업']
list2=df_1314[df_1314.loc[:,'업종명']=='제조업']
list3=df_1415[df_1415.loc[:,'업종명']=='제조업']
list4=df_1516[df_1516.loc[:,'업종명']=='제조업']
list5=df_1617[df_1617.loc[:,'업종명']=='제조업']
list6=df_1718[df_1718.loc[:,'업종명']=='제조업']
Service=pd.concat([list1,list2,list3,list4,list5,list6],axis=0)
Service

     업종명     종목명  Diff_E  Diff_S  Diff_G       등락률      연도
187  제조업     BYC     1.0     0.0     0.0  0.018919  12,13년
188  제조업   CJ씨푸드     0.0     0.0     0.0 -0.177706  12,13년
189  제조업  CJ제일제당    -1.0     2.5     1.0 -0.248175  12,13년
190  제조업   DRB동일    -1.0     0.0     0.0  0.335628  12,13년
191  제조업   DSR제강     0.0     0.0     0.0  0.205782  12,13년
..   ...     ...     ...     ...     ...       ...     ...
554  제조업    화천기공     0.0     0.0     0.0 -0.184971  17,18년
555  제조업   황금에스티    -1.0     0.0     0.0 -0.213235  17,18년
556  제조업      후성     1.0     0.0     0.0 -0.022396  17,18년
557  제조업     휴비스     1.0    -1.0     0.0 -0.055128  17,18년
558  제조업     휴스틸     0.0     0.0     0.0 -0.229452  17,18년

[1626 rows x 7 columns]

## 서비스업
- 220개

In [69]:
list1=df_1213[df_1213.loc[:,'업종명']=='서비스업']
list2=df_1314[df_1314.loc[:,'업종명']=='서비스업']
list3=df_1415[df_1415.loc[:,'업종명']=='서비스업']
list4=df_1516[df_1516.loc[:,'업종명']=='서비스업']
list5=df_1617[df_1617.loc[:,'업종명']=='서비스업']
list6=df_1718[df_1718.loc[:,'업종명']=='서비스업']
made=pd.concat([list1,list2,list3,list4,list5,list6],axis=0)
made

      업종명     종목명  Diff_E  Diff_S  Diff_G       등락률      연도
69   서비스업  CJ CGV     0.0     0.0     0.0  0.477811  12,13년
70   서비스업     GKL     0.0     0.0     NaN  0.260586  12,13년
71   서비스업    KTcs     0.0     0.0     NaN  0.428571  12,13년
72   서비스업    NICE     0.0     0.0     NaN -0.776339  12,13년
73   서비스업     SBS     0.0     0.0     0.0 -0.015971  12,13년
..    ...     ...     ...     ...     ...       ...     ...
132  서비스업    하나투어    -1.0     0.0     0.0 -0.404810  17,18년
133  서비스업  한국종합기술    -1.0     0.0     1.5 -0.414125  17,18년
134  서비스업   한미글로벌     0.0     1.5     1.5 -0.077164  17,18년
135  서비스업    한전기술     0.0     1.0     0.0  0.025140  17,18년
136  서비스업    한전산업     NaN    -1.5     1.5 -0.214455  17,18년

[220 rows x 7 columns]

## 에너지업
- 36개

In [70]:
list1=df_1213[df_1213.loc[:,'업종명']=='에너지업']
list2=df_1314[df_1314.loc[:,'업종명']=='에너지업']
list3=df_1415[df_1415.loc[:,'업종명']=='에너지업']
list4=df_1516[df_1516.loc[:,'업종명']=='에너지업']
list5=df_1617[df_1617.loc[:,'업종명']=='에너지업']
list6=df_1718[df_1718.loc[:,'업종명']=='에너지업']
energy=pd.concat([list1,list2,list3,list4,list5,list6],axis=0)
energy.shape

(36, 7)

## 정보 통신업
- 14개

In [71]:

list1=df_1213[df_1213.loc[:,'업종명']=='정보통신업']
list2=df_1314[df_1314.loc[:,'업종명']=='정보통신업']
list3=df_1415[df_1415.loc[:,'업종명']=='정보통신업']
list4=df_1516[df_1516.loc[:,'업종명']=='정보통신업']
list5=df_1617[df_1617.loc[:,'업종명']=='정보통신업']
list6=df_1718[df_1718.loc[:,'업종명']=='정보통신업']
IF=pd.concat([list1,list2,list3,list4,list5,list6],axis=0)
IF.shape

(14, 7)

## 1차 산업
- 18개

In [72]:
list1=df_1213[df_1213.loc[:,'업종명']=='1차 산업']
list2=df_1314[df_1314.loc[:,'업종명']=='1차 산업']
list3=df_1415[df_1415.loc[:,'업종명']=='1차 산업']
list4=df_1516[df_1516.loc[:,'업종명']=='1차 산업']
list5=df_1617[df_1617.loc[:,'업종명']=='1차 산업']
list6=df_1718[df_1718.loc[:,'업종명']=='1차 산업']
first_i=pd.concat([list1,list2,list3,list4,list5,list6],axis=0)
first_i.shape

(18, 7)

## 의약품
- 184개

In [73]:
list1=df_1213[df_1213.loc[:,'업종명']=='의약품']
list2=df_1314[df_1314.loc[:,'업종명']=='의약품']
list3=df_1415[df_1415.loc[:,'업종명']=='의약품']
list4=df_1516[df_1516.loc[:,'업종명']=='의약품']
list5=df_1617[df_1617.loc[:,'업종명']=='의약품']
list6=df_1718[df_1718.loc[:,'업종명']=='의약품']
medicine=pd.concat([list1,list2,list3,list4,list5,list6],axis=0)
medicine

     업종명      종목명  Diff_E  Diff_S  Diff_G       등락률      연도
158  의약품   JW중외제약    -1.0     0.0     0.0  0.100000  12,13년
159  의약품     광동제약     0.0     0.0     0.0  0.385932  12,13년
160  의약품     국제약품    -1.0     0.0     0.0 -0.245552  12,13년
161  의약품      녹십자    -1.0     0.0    -1.5 -0.170886  12,13년
162  의약품       대웅    -1.0     0.0     0.0  0.787081  12,13년
..   ...      ...     ...     ...     ...       ...     ...
243  의약품       한독     0.0     1.5     0.0 -0.063265  17,18년
244  의약품     한미약품     1.0     1.0     1.5 -0.159655  17,18년
245  의약품  한올바이오파마    -1.0     0.0     0.0  1.025641  17,18년
246  의약품     현대약품    -1.0     0.0     0.0  0.293769  17,18년
247  의약품     환인제약     0.0     0.0     0.0 -0.182692  17,18년

[184 rows x 7 columns]

## 운수및 창고업
- 355개

In [74]:
list1=df_1213[df_1213.loc[:,'업종명']=='운수 및 창고업']
list2=df_1314[df_1314.loc[:,'업종명']=='운수 및 창고업']
list3=df_1415[df_1415.loc[:,'업종명']=='운수 및 창고업']
list4=df_1516[df_1516.loc[:,'업종명']=='운수 및 창고업']
list5=df_1617[df_1617.loc[:,'업종명']=='운수 및 창고업']
list6=df_1718[df_1718.loc[:,'업종명']=='운수 및 창고업']
storage=pd.concat([list1,list2,list3,list4,list5,list6],axis=0)
storage

          업종명         종목명  Diff_E  Diff_S  Diff_G       등락률      연도
104  운수 및 창고업      CJ대한통운     1.0     1.0     1.5 -0.186784  12,13년
105  운수 및 창고업          E1     0.0    -1.5     0.0  0.225443  12,13년
106  운수 및 창고업       GS글로벌     0.0     0.0     0.0 -0.298551  12,13년
107  운수 및 창고업       KSS해운     0.0     0.0     0.0  0.464286  12,13년
108  운수 및 창고업      LS네트웍스     0.0     0.0     0.0  0.115741  12,13년
..        ...         ...     ...     ...     ...       ...     ...
205  운수 및 창고업  현대코퍼레이션홀딩스     0.0     0.0     0.0  0.154639  17,18년
206  운수 및 창고업       현대홈쇼핑     0.0     1.5     0.0 -0.200000  17,18년
207  운수 및 창고업          혜인    -1.0     0.0     0.0  0.308411  17,18년
208  운수 및 창고업        호텔신라     1.0     1.0     1.5 -0.089400  17,18년
209  운수 및 창고업        흥아해운    -1.0     0.0     0.0 -0.686056  17,18년

[355 rows x 7 columns]