In [1]:
import pandas as pd

In [5]:
df_1112=pd.read_csv('../Winsorization/99% 이상치제거_original_1213.csv',index_col=0)[['업종명','종목명','Diff_E','Diff_S','Diff_G','등락률','연도']]
df_1213=pd.read_csv('../Winsorization/99% 이상치제거_original_1213.csv',index_col=0)[['업종명','종목명','Diff_E','Diff_S','Diff_G','등락률','연도']]
df_1314=pd.read_csv('../Winsorization/99% 이상치제거_original_1314.csv',index_col=0)[['업종명','종목명','Diff_E','Diff_S','Diff_G','등락률','연도']]
df_1415=pd.read_csv('../Winsorization/99% 이상치제거_original_1415.csv',index_col=0)[['업종명','종목명','Diff_E','Diff_S','Diff_G','등락률','연도']]
df_1516=pd.read_csv('../Winsorization/99% 이상치제거_original_1516.csv',index_col=0)[['업종명','종목명','Diff_E','Diff_S','Diff_G','등락률','연도']]
df_1617=pd.read_csv('../Winsorization/99% 이상치제거_original_1617.csv',index_col=0)[['업종명','종목명','Diff_E','Diff_S','Diff_G','등락률','연도']]
df_1718=pd.read_csv('../Winsorization/99% 이상치제거_original_1718.csv',index_col=0)[['업종명','종목명','Diff_E','Diff_S','Diff_G','등락률','연도']]

df=pd.concat([df_1112,df_1213,df_1314,df_1415,df_1516,df_1617,df_1718],axis=0).dropna(axis=0)
df

       업종명   종목명  Diff_E  Diff_S  Diff_G       등락률      연도
0    1차 산업    동원     1.0     0.0     0.0 -0.106736  12,13년
1    1차 산업  동원산업     0.0     0.0     0.0 -0.003509  12,13년
2    1차 산업  동원수산    -1.0     0.0     0.0  0.064286  12,13년
3    1차 산업  사조산업     0.0     0.0     0.0 -0.475133  12,13년
4    1차 산업  사조오양     0.0     0.0     0.0 -0.456204  12,13년
..     ...   ...     ...     ...     ...       ...     ...
640    제조업    효성     1.0    -1.0     0.0 -0.618587  17,18년
641    제조업    후성     1.0     0.0     0.0 -0.022396  17,18년
642    제조업   휴비스     1.0    -1.0     0.0 -0.055128  17,18년
643    제조업   휴스틸     0.0     0.0     0.0 -0.229452  17,18년
644    제조업   휴켐스     0.0    -1.5     0.0 -0.074310  17,18년

[3932 rows x 7 columns]

In [6]:
X=df[['Diff_E','Diff_S','Diff_G']]
y=df['등락률']
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error,r2_score
import numpy as np

X_train,X_test,y_train,y_test= train_test_split(X.values,y,test_size=0.2, random_state=0)
lr=LinearRegression()
lr.fit(X_train,y_train)
y_preds=lr.predict(X_test)
mse= mean_squared_error(y_test,y_preds)
rmse=np.sqrt(mse)

print(f"MSE : {mse:.3f}, RMSE:{rmse:.3f}")
print(f"Variance score:{r2_score(y_test,y_preds):.3f}")

MSE : 0.139, RMSE:0.372
Variance score:-0.003

* list=['건설업', '금융 및 보험업', '서비스업', '운수 및 창고업', '에너지', '정보통신업', '제조업', '1차 산업', '의약품']

## 건설업 
- 163개

In [4]:
list0=df_1112[df_1112.loc[:,'업종명']=='건설업']
list1=df_1213[df_1213.loc[:,'업종명']=='건설업']
list2=df_1314[df_1314.loc[:,'업종명']=='건설업']
list3=df_1415[df_1415.loc[:,'업종명']=='건설업']
list4=df_1516[df_1516.loc[:,'업종명']=='건설업']
list5=df_1617[df_1617.loc[:,'업종명']=='건설업']
list6=df_1718[df_1718.loc[:,'업종명']=='건설업']
Structure=pd.concat([list0,list1,list2,list3,list4,list5,list6],axis=0).reset_index(drop=True)
Structure

     업종명    종목명  Diff_E  Diff_S  Diff_G       등락률      연도
0    건설업   GS건설     0.0     0.0     0.0 -0.376016  11,12년
1    건설업   경남기업    -1.0     0.0     0.0 -0.318129  11,12년
2    건설업   고려개발     0.0     0.0     0.0 -0.285714  11,12년
3    건설업   금호산업     1.0     0.0     0.0 -0.724684  11,12년
4    건설업   남광토건     1.0     0.0     0.0  0.050193  11,12년
..   ...    ...     ...     ...     ...       ...     ...
158  건설업   한신공영     1.0     1.5     0.0 -0.018692  17,18년
159  건설업  한전KPS     1.0     1.0     0.0 -0.334140  17,18년
160  건설업  한진중공업     0.0     0.0     0.0 -0.536649  17,18년
161  건설업   현대건설     3.0     1.0     1.0  0.208719  17,18년
162  건설업   화성산업     0.0     0.0     0.0 -0.138614  17,18년

[163 rows x 7 columns]

In [22]:
X=Structure[['Diff_E','Diff_S','Diff_G']]
y=Structure['등락률']
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error,r2_score
import numpy as np

X_train,X_test,y_train,y_test= train_test_split(X.values,y,test_size=0.1, random_state=0)
lr=LinearRegression()
lr.fit(X_train,y_train)
y_preds=lr.predict(X_test)
mse= mean_squared_error(y_test,y_preds)
rmse=np.sqrt(mse)

print(f"MSE : {mse:.3f}, RMSE:{rmse:.3f}")
print(f"Variance score:{r2_score(y_test,y_preds):.3f}")

MSE : 0.147, RMSE:0.384
Variance score:-0.139

## 금융및 보험업
- 350개 -->306

In [26]:
list0=df_1112[df_1112.loc[:,'업종명']=='금융 및 보험업']
list1=df_1213[df_1213.loc[:,'업종명']=='금융 및 보험업']
list2=df_1314[df_1314.loc[:,'업종명']=='금융 및 보험업']
list3=df_1415[df_1415.loc[:,'업종명']=='금융 및 보험업']
list4=df_1516[df_1516.loc[:,'업종명']=='금융 및 보험업']
list5=df_1617[df_1617.loc[:,'업종명']=='금융 및 보험업']
list6=df_1718[df_1718.loc[:,'업종명']=='금융 및 보험업']

## 제조업
- 1626개 -->2184개

In [14]:
list0=df_1112[df_1112.loc[:,'업종명']=='제조업']
list1=df_1213[df_1213.loc[:,'업종명']=='제조업']
list2=df_1314[df_1314.loc[:,'업종명']=='제조업']
list3=df_1415[df_1415.loc[:,'업종명']=='제조업']
list4=df_1516[df_1516.loc[:,'업종명']=='제조업']
list5=df_1617[df_1617.loc[:,'업종명']=='제조업']
list6=df_1718[df_1718.loc[:,'업종명']=='제조업']
Service=pd.concat([list0,list1,list2,list3,list4,list5,list6],axis=0)
X=Service[['Diff_E','Diff_S','Diff_G']]
y=Service['등락률']

In [45]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error,r2_score
import numpy as np

X_train,X_test,y_train,y_test= train_test_split(X.values,y,test_size=0.1,random_state=2010)
lr=LinearRegression()
lr.fit(X_train,y_train)
y_preds=lr.predict(X_test)
mse= mean_squared_error(y_test,y_preds)
rmse=np.sqrt(mse)

print(f"MSE : {mse:.3f}, RMSE:{rmse:.3f}")
print(f"Variance score:{r2_score(y_test,y_preds):.3f}")

MSE : 0.101, RMSE:0.318
Variance score:0.044

In [42]:
from sklearn.ensemble import RandomForestRegressor

# RandomForestClassifier 객체 생성 후 GridSearchCV 수행
rf_clf = RandomForestRegressor( n_jobs=-1)
rf_clf.fit(X_train,y_train)
y_preds2=rf_clf.predict(X_test)

mse= mean_squared_error(y_test,y_preds2)
rmse=np.sqrt(mse)

print(f"MSE : {mse:.3f}, RMSE:{rmse:.3f}")
print(f"Variance score:{r2_score(y_test,y_preds2):.3f}")

MSE : 0.107, RMSE:0.327
Variance score:-0.013

## 서비스업
- 220개-->511개

In [8]:
list0=df_1112[df_1112.loc[:,'업종명']=='서비스업']
list1=df_1213[df_1213.loc[:,'업종명']=='서비스업']
list2=df_1314[df_1314.loc[:,'업종명']=='서비스업']
list3=df_1415[df_1415.loc[:,'업종명']=='서비스업']
list4=df_1516[df_1516.loc[:,'업종명']=='서비스업']
list5=df_1617[df_1617.loc[:,'업종명']=='서비스업']
list6=df_1718[df_1718.loc[:,'업종명']=='서비스업']
made=pd.concat([list0,list1,list2,list3,list4,list5,list6],axis=0)
made

      업종명      종목명  Diff_E  Diff_S  Diff_G       등락률      연도
60   서비스업       CJ    -1.0     0.0     0.5  0.327930  11,12년
61   서비스업   CJ CGV     0.0     0.0     0.5  0.310078  11,12년
62   서비스업    CS홀딩스    -1.0     0.5     0.0 -0.129743  11,12년
63   서비스업      GKL     1.0     0.0     0.0  0.535000  11,12년
64   서비스업       GS     0.0     0.5     0.5  0.050536  11,12년
..    ...      ...     ...     ...     ...       ...     ...
175  서비스업   한국종합기술    -1.0     0.0     1.5 -0.414125  17,18년
176  서비스업    한미글로벌     0.0     1.5     1.5 -0.077164  17,18년
177  서비스업     한전기술     0.0     1.0     0.0  0.025140  17,18년
178  서비스업     한전산업    -2.0    -1.5     1.5 -0.214455  17,18년
179  서비스업  현대에이치씨엔     0.0     0.0     0.0  0.150685  17,18년

[511 rows x 7 columns]

In [27]:
X=made[['Diff_E','Diff_S','Diff_G']]
y=made['등락률']
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error,r2_score
import numpy as np

X_train,X_test,y_train,y_test= train_test_split(X.values,y,test_size=0.1, random_state=0)
lr=LinearRegression()
lr.fit(X_train,y_train)
y_preds=lr.predict(X_test)
mse= mean_squared_error(y_test,y_preds)
rmse=np.sqrt(mse)

print(f"MSE : {mse:.3f}, RMSE:{rmse:.3f}")
print(f"Variance score:{r2_score(y_test,y_preds):.3f}")

MSE : 0.110, RMSE:0.332
Variance score:-0.062

## 에너지업
- 36개 -->43개

In [9]:
list0=df_1112[df_1112.loc[:,'업종명']=='에너지업']
list1=df_1213[df_1213.loc[:,'업종명']=='에너지업']
list2=df_1314[df_1314.loc[:,'업종명']=='에너지업']
list3=df_1415[df_1415.loc[:,'업종명']=='에너지업']
list4=df_1516[df_1516.loc[:,'업종명']=='에너지업']
list5=df_1617[df_1617.loc[:,'업종명']=='에너지업']
list6=df_1718[df_1718.loc[:,'업종명']=='에너지업']
energy=pd.concat([list0,list1,list2,list3,list4,list5,list6],axis=0)
energy

      업종명     종목명  Diff_E  Diff_S  Diff_G       등락률      연도
117  에너지업   경남에너지     0.0     0.0     0.5  0.248529  11,12년
118  에너지업     삼천리     0.0     1.5     0.0  0.013542  11,12년
119  에너지업     예스코     0.0     0.0     0.5  0.234086  11,12년
120  에너지업  인천도시가스     1.0     0.0     0.5  0.132029  11,12년
121  에너지업  한국가스공사    -1.0    -1.0     0.0  1.029139  11,12년
126  에너지업   경남에너지     0.0     0.0     0.0  0.286219  12,13년
127  에너지업   대성에너지     0.0     0.0     0.0  0.017825  12,13년
128  에너지업     삼천리     0.0     0.0     0.0  0.346351  12,13년
129  에너지업     예스코     0.0     0.0     0.0  0.163062  12,13년
130  에너지업  인천도시가스    -1.0     0.0     0.0  0.161987  12,13년
131  에너지업  지역난방공사     0.0     0.0     0.0  0.391304  12,13년
132  에너지업  한국가스공사     0.0     1.0     0.0 -0.165796  12,13년
135  에너지업   경남에너지     0.0     0.0     0.0  0.300366  13,14년
136  에너지업   대성에너지     0.0     0.0     0.0  0.112084  13,14년
137  에너지업     삼천리     0.0     0.0     1.5  0.152672  13,14년
138  에너지업     예스코     0.0     1.0     0.0  0.075823  13,14년
139  에너지업  인천도시가스     1.0     0.0     0.0  0.360595  13,14년
140  에너지업  지역난방공사     1.0     0.0     0.0 -0.395161  13,14년
141  에너지업  한국가스공사     1.0     0.0     1.0 -0.215962  13,14년
141  에너지업   경남에너지     0.0     0.0     0.0  0.140845  14,15년
142  에너지업   대성에너지    -1.0     0.0     0.0  0.044094  14,15년
143  에너지업     삼천리    -2.0     0.0     0.0 -0.321192  14,15년
144  에너지업     예스코     0.0    -1.0     0.0 -0.003989  14,15년
145  에너지업  인천도시가스     0.0     0.0     0.0 -0.053279  14,15년
146  에너지업  지역난방공사     0.0     0.0     0.0  0.035000  14,15년
147  에너지업  한국가스공사    -1.0    -1.0     0.0 -0.149701  14,15년
163  에너지업   대성에너지     0.0     0.0     0.0 -0.028658  15,16년
164  에너지업     삼천리     2.0     0.0     0.0 -0.047805  15,16년
165  에너지업     예스코     0.0     0.0     0.0  0.006676  15,16년
166  에너지업  인천도시가스     0.0     0.0     0.0 -0.096681  15,16년
167  에너지업  지역난방공사     0.0     0.0     0.0  0.111111  15,16년
168  에너지업  한국가스공사     0.0    -1.5     0.0  0.088028  15,16년
170  에너지업   대성에너지     1.0     0.0     0.0 -0.034161  16,17년
171  에너지업     삼천리    -1.0     0.0     0.0  0.050205  16,17년
172  에너지업     예스코     1.0     0.0     0.0  0.007958  16,17년
173  에너지업  인천도시가스     0.0     0.0     0.0 -0.022364  16,17년
174  에너지업  지역난방공사    -1.0     1.0     1.0  0.040580  16,17년
175  에너지업  한국가스공사     0.0     1.5     0.0 -0.118662  16,17년
180  에너지업   대성에너지    -1.0     0.0     0.0 -0.130225  17,18년
181  에너지업     삼천리     1.0     0.0     0.0 -0.107317  17,18년
182  에너지업  인천도시가스     0.0     0.0     0.0 -0.019608  17,18년
183  에너지업  지역난방공사     0.0     0.0     0.0 -0.207521  17,18년
184  에너지업  한국가스공사     0.0     1.0    -1.0  0.275398  17,18년

## 정보 통신업
- 14개 -->14개

In [10]:
list0=df_1112[df_1112.loc[:,'업종명']=='정보통신업']
list1=df_1213[df_1213.loc[:,'업종명']=='정보통신업']
list2=df_1314[df_1314.loc[:,'업종명']=='정보통신업']
list3=df_1415[df_1415.loc[:,'업종명']=='정보통신업']
list4=df_1516[df_1516.loc[:,'업종명']=='정보통신업']
list5=df_1617[df_1617.loc[:,'업종명']=='정보통신업']
list6=df_1718[df_1718.loc[:,'업종명']=='정보통신업']
IF=pd.concat([list0,list1,list2,list3,list4,list5,list6],axis=0)
IF.shape

(14, 7)

## 의약품
- 184개 -->221개

In [11]:
list0=df_1112[df_1112.loc[:,'업종명']=='의약품']
list1=df_1213[df_1213.loc[:,'업종명']=='의약품']
list2=df_1314[df_1314.loc[:,'업종명']=='의약품']
list3=df_1415[df_1415.loc[:,'업종명']=='의약품']
list4=df_1516[df_1516.loc[:,'업종명']=='의약품']
list5=df_1617[df_1617.loc[:,'업종명']=='의약품']
list6=df_1718[df_1718.loc[:,'업종명']=='의약품']
medicine=pd.concat([list0,list1,list2,list3,list4,list5,list6],axis=0)
medicine

     업종명      종목명  Diff_E  Diff_S  Diff_G       등락률      연도
172  의약품   JW중외제약     0.0     0.0     0.0 -0.186047  11,12년
173  의약품   LG생명과학     0.0     0.0    -1.0  0.170513  11,12년
174  의약품     광동제약     1.0     0.0     0.0  0.570149  11,12년
175  의약품     국제약품     0.0     0.0     0.0  0.115079  11,12년
176  의약품      녹십자     0.0     0.0     1.5 -0.086705  11,12년
..   ...      ...     ...     ...     ...       ...     ...
294  의약품       한독     0.0     1.5     0.0 -0.063265  17,18년
295  의약품     한미약품     1.0     1.0     1.5 -0.159655  17,18년
296  의약품  한올바이오파마    -1.0     0.0     0.0  1.025641  17,18년
297  의약품     현대약품    -1.0     0.0     0.0  0.293769  17,18년
298  의약품     환인제약     0.0     0.0     0.0 -0.182692  17,18년

[221 rows x 7 columns]

## 운수및 창고업
- 355 -->444

In [12]:
list0=df_1112[df_1112.loc[:,'업종명']=='운수 및 창고업']
list1=df_1213[df_1213.loc[:,'업종명']=='운수 및 창고업']
list2=df_1314[df_1314.loc[:,'업종명']=='운수 및 창고업']
list3=df_1415[df_1415.loc[:,'업종명']=='운수 및 창고업']
list4=df_1516[df_1516.loc[:,'업종명']=='운수 및 창고업']
list5=df_1617[df_1617.loc[:,'업종명']=='운수 및 창고업']
list6=df_1718[df_1718.loc[:,'업종명']=='운수 및 창고업']
storage=pd.concat([list0,list1,list2,list3,list4,list5,list6],axis=0)
storage

          업종명     종목명  Diff_E  Diff_S  Diff_G       등락률      연도
122  운수 및 창고업      E1    -1.0     1.5     0.0  0.210526  11,12년
123  운수 및 창고업   GS글로벌     0.0     0.0     0.0  0.131148  11,12년
124  운수 및 창고업   KSS해운     0.0     0.0     0.5  1.002861  11,12년
125  운수 및 창고업    LG상사     1.0     0.0     0.0 -0.204020  11,12년
126  운수 및 창고업  LS네트웍스     0.0     0.0     0.5 -0.048458  11,12년
..        ...     ...     ...     ...     ...       ...     ...
255  운수 및 창고업   현대홈쇼핑     0.0     1.5     0.0 -0.200000  17,18년
256  운수 및 창고업      혜인    -1.0     0.0     0.0  0.308411  17,18년
257  운수 및 창고업    호텔신라     1.0     1.0     1.5 -0.089400  17,18년
258  운수 및 창고업   휠라코리아     0.0     0.0     0.0 -0.378877  17,18년
259  운수 및 창고업    흥아해운    -1.0     0.0     0.0 -0.686056  17,18년

[444 rows x 7 columns]

## 1차 산업
- 39개

In [13]:
list0=df_1112[df_1112.loc[:,'업종명']=='1차 산업']
list1=df_1213[df_1213.loc[:,'업종명']=='1차 산업']
list2=df_1314[df_1314.loc[:,'업종명']=='1차 산업']
list3=df_1415[df_1415.loc[:,'업종명']=='1차 산업']
list4=df_1516[df_1516.loc[:,'업종명']=='1차 산업']
list5=df_1617[df_1617.loc[:,'업종명']=='1차 산업']
list6=df_1718[df_1718.loc[:,'업종명']=='1차 산업']
first_i=pd.concat([list0,list1,list2,list3,list4,list5,list6],axis=0)
first_i.shape

(39, 7)